<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link" id="btn-back">
      <i class="fa fa-arrow-circle-o-left"></i> В панель управления
    </a>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-cog"></i> Настройки
      </div>
      <div class="card-body">
        <form (submit)="onSubmit()">
          <div class="form-group ">
            <label for="allowRegistration">
            <input
              type="checkbox"
              name="allowRegistration"
              id="allowRegistration"
              [checked]="settings.allowRegistration"
              (change)="settings.allowRegistration = !settings.allowRegistration"
            >
              Позволить новым пользователям регистрироваться
            </label>
          </div>
          <div class="form-group">
            <label for="disableBalanceOnAdd">
            <input
              type="checkbox"
              name="disableBalanceOnAdd"
              id="disableBalanceOnAdd"
              [checked]="settings.disableBalanceOnAdd"
              (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd"
            >
              Позволить добавлять баланс
            </label>
          </div>
          <div class="form-group">
            <label for="disableBalanceOnEdit">
            <input
              type="checkbox"
              name="disableBalanceOnEdit"
              id="disableBalanceOnEdit"
              [checked]="settings.disableBalanceOnEdit"
              (change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit"
            >
              Позволить обновлять баланс
            </label>
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-outline-dark btn-block"
            ><i class="fa fa-check-circle-o"></i> Применить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
